syntax: glob

.idea/
nbproject/
.run
.dld
.pcs
.tmp
.tst
.directory
~*

*.gz
*.zip
*.rar

tst/d/imp/
tst/d/exp/
tst/d/hst/
tst/d/jl/*.xls*.jl
tst/ut-cov
tst/basic-cocomo-*
lcov.info
lib-cov
coverage

desktop.ini

logs
*.log

pids
*.pid
*.seed

.grunt
.lock-wscript

node_modules
