syntax: glob

tst/d/out/

.idea/
nbproject/
.run
.dld
.pcs
.tmp
.tst
.directory
~*

*.gz
*.zip
*.rar

tst/basic-cocomo-*
lcov.info
lib-cov
coverage

desktop.ini

logs
*.log

pids
*.pid
*.seed

.grunt
.lock-wscript

node_modules
